@media only screen and (max-width: 600px) {
    .app-container {
      grid-template-columns: 1fr;
      grid-auto-rows: 20vh;
      gap: 20px;
    }
    .search {
      flex-direction: column;
      align-items: center;
    }
    .search-box {
      width: 80%;
      margin: 20px 0;
    }
    .speed-dial {
        display: flex;
        flex-direction: column;
      }
      .container {
        width: auto;
      }
  }
 